/* Fonte limpa e reset básico */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #747171;
  color: #3f3838;
  font-family: 'Comic Sans MS', cursive, sans-serif;
 
}
/* sobre mim */
.container {
  background-color: #b1b6b6;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: rgb(88, 69, 69);
  margin: 20px;
  flex: 1;
}

header{
      background-color: #b1b6b6;
  text-align: center;
  max-width: 700px;     /* limita a largura máxima */
  margin: 20px auto;    /* centraliza horizontalmente */
  padding: 30px;
  
}